<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <logger name="org.apache.kafka" level="INFO"/>

    <logger name="kafka" level="WARN"/>

    <logger name="io.debezium" level="WARN"/>

    <logger name="org.http4s.server.middleware" level="WARN"/>

    <logger name="org.apache.zookeeper" level="ERROR"/>

    <logger name="com.jc" level="ALL"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>